<h1>Create Yourself!</h1>
<div class="login">
  <form action="/signup" method="POST">
    <p><label for="username">Username: </label>
    <input type="text" id="username" name="user[username]">
    </p>

    <p><label for="email">Email: </label>
    <input type="text" id="email" name="user[email]">
    </p>

    <p><label for="password">Password: </label>
    <input type="password" id="password" name="user[password]">
    </p>

    <p><input type="submit" value="Signup"></p>

  </form>
</div>
