<h1>Login Plz</h1>

<form action="/login" method="POST">
  <p><label for="username">Username: </label>
  <input type="text" id="username" name="username">
  </p>

  <p><label for="password">Password: </label>
  <input type="password" id="password" name="password">
  </p>

  <p><input type="submit" value="Login"></p>

</form>
