<h1><%= @game.name %> is an awesome game of yours</h1>
<h2>It's made for your <%= @game.console.name %> console</h2>

<form action="/games/<%=@game.id%>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Game" id="submit">
</form>

<form action="/games/<%=@game.id%>/edit" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="submit" value="Edit Game" id="submit">
</form>
