<div class="container">

  <h1>Welcome to Gamestocker!</h1>
  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veritatis deserunt odio vitae saepe culpa quod consequuntur enim delectus maxime dignissimos doloribus consectetur, similique! Maxime harum deserunt at quod eligendi.</h3>
  <h4><form action="/" method="POST"><input type="submit" id="login" value="Login" name="login">
    <input type="submit" id="singup" value="Signup" name="signup"></h4></form>


</div>
