<p class="error"><%= flash[:error] if flash[:error] %></p>

<div class="welcome">

  <h1>Welcome to Gamestocker!</h1>
  <div class="welcome-info">
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veritatis deserunt odio vitae saepe culpa quod consequuntur enim delectus maxime dignissimos doloribus consectetur, similique! Maxime harum deserunt at quod eligendi.</h3>
  </div>

  <div class="navigation">
    <h4><form action="/" method="POST"><input type="submit" id="login" value="Login" name="login">
      <input type="submit" id="singup" value="Signup" name="signup"></h4></form>
  </div>


</div>
